RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)$ profilepage.php?profile_username=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ profilepage.php?profile_username=$1

Header set Content-Security-Policy "default-src 'self'; img-src 'self' data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://0cf7-38-42-234-45.ngrok-free.app/you_social_763/; style-src 'self' 'unsafe-inline';"