@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #E6EAE8;
  overflow: hidden;
  /* padding-top: 90px; */
  /* font-family: "poppins", sans-serif; */
}

.profile-header{
  background: #390b83;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
}

.profile-img{
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img{
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info{
  float: left;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.profile-nav-info h3{
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}

.profile-nav-info .address{
  display: flex;
  font-weight: bold;
  color: #fff;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.profile-option{
  width: 40px;
  height: 40px;
  background: #2271ff;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  outline: none;
}

.profile-cog{
  width: 40px;
  height: 40px;
  background: #2271ff;
  position: absolute;
  top: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  outline: none;
}

.profile-option .notification i,
.profile-cog .notification i{
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s ease-in-out;
}

.profile-option:hover,
.profile-cog:hover{
  background: #fff;
  border: 1px solid #2271ff;
}

.profile-option:hover .notification i,
.profile-cog:hover .notification i {
  color: #2271ff;
}

.profile-option .notification .alert-message{
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: #2271ff;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
}

.main-bd{
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side{
  width: 300px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
  padding: 90px 30px 20px;
  font-family: 'Bree Serif', serif;
  margin-left: 10px;
  z-index: 90;
}

.profile-side p{
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i{
  color: #2271ff;
  margin-right: 10px;
}

.profile-btn{
  display: flex;
}

button.chatbtn,
button.createbtn{
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #2271ff;
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background .3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .3);
  color: #fff;
}

button.chatbtn:hover,
button.createbtn:hover{
  background: rgba(288, 0, 70, .9);
}

button.chatbtn i,
button.createbtn i{
  margin-right: 5px;
}

.user-rating{
  display: flex;
}

.user-rating h3{
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-user{
  font-size: .9rem;
}

.rate{
  padding-top: 6px;
}

.rate i{
  font-size: .9rem;
  color: #2271ff;
}

.nav2{
  width: 100%;
  z-index: -1;
}

.nav2 ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.nav2 ul li{
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}

.nav2 ul li.active,
.nav2 ul li:hover{
  box-shadow: 0px -3px 0px #2271ff inset;
}

.profile-body{
  width: 100%;
  z-index: -1;
}

.tab{
  padding: 20px;
  width: 100%;
  text-align: center;
  display: none;
}

#see-more-bio,
#see-less-bio{
  /* color: #2271ff; */
  cursor: pointer;
  text-transform: lowercase;
}

@media(max-width: 1100px){
  header .logo{
    width: 250px;
  }
  .profile-side{
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img{
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }

}

/* @media(max-width: 900px){
  body{
    margin: 0 20px;
  }
  .profile-header{
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .profile-img{
    float: left;
    width: 100%;
    height: 200px;
  }
  .profile-img img{
    position: relative;
    left: 0;
  }
  .profile-nav-info{
    text-align: center;
  }
  .profile-nav-info .address{
    justify-content: center;
  }
  .profile-option{
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }
  .profile-cog{
    left: 20px;
    top: 44%;
    transform: translateY(50%);
  }
  .main-bd{
    flex-direction: column;
    padding-right: 0px;
  }
  .profile-side{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0px;
  }
  .user-rating{
    justify-content: center;
  }
  @media(max-width: 400px){
    body{
      margin: 5px;
    }
    .profile-header h3{
      font-size: 1.7rem;
    }
    .profile-header p,
    .profile-header span{
      font-size: .9rem;
    }
    .profile-option{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 83%;
    }
    .profile-cog{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 15px;
      top: 83%;
    }
    .profile-option .notification .alert-message{
      top: -3px;
      right: -4px;
      padding: 4px;
      height: 15px;
      width: 15px;
      font-size: .7rem;
    }
    .profile-cog .notification{
      top: -3px;
      left: -4px;
      padding: 4px;
      height: 15px;
      width: 15px;
      font-size: .7rem;
    }
  }
} */