name: "ZAP CI Scan"

on:
  push: 
    branches: [ development ]
  pull_request:
    branches: [ development ]

  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    name: Sanity check of git actions

  steps:
    - uses: actions/checkout@v3
    - name: Run a one-line script
      run: echo no error. Do the necessary build steps here.
  
  scans:
    runs-on: ubuntu-latest
    name: Zap CI Scan

    steps: 
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Log current directory
        run: echo ${pwd}
      - name: Pull Zap Owasp Image 
        run: docker pull owasp/zap2docker-weekly
      - name: Run ZAP API Scan
        run: |
          sudo docker run -v ${pwd}:/zap/wrk/:rw -t owasp/zap2docker-weekly zap-api-scan.py -t openapi.json -f openapi -c api-scan.conf
