name: OWASP ZAP Security Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Pull ZAP Docker Image from GHCR
        run: |
          docker pull ghcr.io/zaproxy/zaproxy:stable

      - name: Start ZAP
        run: |
          docker run -u zap -p 8090:8090 -d ghcr.io/zaproxy/zaproxy:stable zap.sh -daemon -host 0.0.0.0 -port 8090 -config api.disablekey=true
          sleep 10  # Give ZAP time to start

      - name: Trigger ZAP API Scan
        run: |
          curl http://localhost:8090/JSON/ascan/action/scan/?url= https://0cf7-38-42-234-45.ngrok-free.app/you_social_763&recurse=true&inScopeOnly=false&scanPolicyName=&method=&postData=true&contextId=

      - name: Fetch ZAP Scan Report
        run: |
          wget -O zap_report.html http://localhost:8090/OTHER/core/other/htmlreport/

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v2
        with:
          name: ZAP-Report
          path: zap_report.html

      - name: Stop ZAP
        run: |
          curl http://localhost:8090/JSON/core/action/shutdown/
