name: OWASP ZAP Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Start OWASP ZAP
      uses: zaproxy/action-baseline@v0.2.0
      with:
        target: 'https://0cf7-38-42-234-45.ngrok-free.app/you_social_763/'  
        cmd_options: '-a -j'
